<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>modularweb</title>
<script src="scripts/jquery-1.9.1.min.js"></script>
<script src="scripts/html5shiv.js"></script>
<script src="scripts/random.js"></script>
<script src="scripts/swfobject_modified.js" type="text/javascript"></script>
<script>
function loadDiv(whatdiv, whatpage)
{
	$(whatdiv).load(whatpage);
}
</script>
<!--<link href="styles/style.css" rel="stylesheet" type="text/css">-->
<script src="scripts/footergenerator.js"></script>


</head>

<body onLoad="loadDiv('header','header.htm');loadDiv('article','article.htm');loadDiv('nav','nav.htm');generatefooter()">
<div id="wrapper" align="center">

  <header align="center">
		<div>
    
    	</div>
	</header>

	<nav>
		
	</nav>

	<article>
      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="384" id="FlashID" title="game">
        <param name="movie" value="images/crash course game.swf">
        <param name="quality" value="high">
        <param name="wmode" value="opaque">
        <param name="swfversion" value="6.0.65.0">
        <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
        <param name="expressinstall" value="scripts/expressInstall.swf">
        <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="images/crash course game.swf" width="640" height="384">
          <!--<![endif]-->
          <param name="quality" value="high">
          <param name="wmode" value="opaque">
          <param name="swfversion" value="6.0.65.0">
          <param name="expressinstall" value="scripts/expressInstall.swf">
          <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
          <div>
            <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
  </article>

	<footer>
		
	</footer>

	</div>
<script type="text/javascript">
swfobject.registerObject("FlashID");
swfobject.registerObject("FlashID");
</script>
</body>
</html>
